.table-wrapper {
  overflow-x: scroll;
  margin-bottom: 2rem;
}
.table {
  width: 100%;
  border-collapse: collapse;
  font-size: 1.4rem;
  border-radius: $border-radius $border-radius 0 0;
  overflow: hidden;
  thead {
    tr {
      th {
        background: $color-table-head;
        color: $color-font-dark;
        white-space: nowrap;
      }
    }
  }
  tr {
    &.select-as-removed {
      position: relative;
      transform: scale(1);
      &:after {
        content: '';
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(204, 5, 4, 0.12);
      }
    }
    td, th {
      padding: .5rem;
    }
    td {
      border-bottom: 1px solid $color-border;
      background: #ffffff;
      vertical-align: middle;
    }
    th {
      font-weight: bold;
      text-align: left;
    }
    &.sub {
      & > td {
        border-bottom: 2px solid $color-border;
        padding: 1rem 1rem 2rem;
        background: $color-grey-lighter;
      }
    }
    &.is-opened {
      td, th {
        background: $color-grey-lighter;
        border-bottom: none;
      }
    }
  }
}

.table-options {
  position: relative;
  z-index: 10;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  &__item {
    margin-left: .5rem;
  }
}
.table-option-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.5rem;
  height: 2.5rem;
  border: none;
  border-radius: 5px;
  background: none;
  font-size: 1.6rem;
  cursor: pointer;
  &:focus {
    outline: none;
    background: $color-main-light;
    color: white;
  }
  &--save {
    color: green;
  }
  &--remove {
    color: red;
  }
  &--open {
    color: $color-font-dark;
    .table-option-btn__icon {
      transition: transform .2s ease-in-out;
    }
    &.is-opened {
      .table-option-btn__icon {
        transform: rotate(180deg);
      }
    }
  }
}
