/* fontawesome path */
$fa-font-path: "~@fortawesome/fontawesome-free/webfonts" !default;

/* fonts */
$font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Noto Sans", Ubuntu, Cantarell, "Helvetica Neue", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-size: 1.6rem;
$line-height: 1.125;

/* colors */
$color-main: #563d7c;
$color-main-dark: darken($color-main, 10%);
$color-main-light: lighten($color-main, 10%);
$color-main-lighter: lighten($color-main, 60%);
$color-font-dark: #2e2e2e;
$color-font-grey: #707070;
$color-font-light: #d1d1f0;

$color-grey-lighter: #f9f9f9;
$color-grey-light: #eaeaea;
$color-grey: #dfdfdf;

$color-border: $color-grey;
$color-table-head: $color-grey-light;

$color-success: #4BB543;
$color-success-light: lighten($color-success, 10%);
$color-success-lighter: lighten($color-success, 70%);

$color-danger: #ff8282;
$color-danger-light: lighten($color-danger, 10%);
$color-danger-lighter: lighten($color-danger, 45%);

/* shapes */
$border-radius: .4rem;
$header-height: 5rem;

/* grid */
$columns: 12;
$atom: (100% / $columns);

$break_xs: 560px;
$break_sm: 780px;
$break_md: 960px;
$break_lg: 1100px;

$offset: 30px;

$offset_xs: $offset;
$offset_sm: $offset;
$offset_md: $offset;
$offset_lg: $offset;

$offset_one_side: ($offset / 2);
$offset_xs_one_side: ($offset_xs / 2);
$offset_sm_one_side: ($offset_sm / 2);
$offset_md_one_side: ($offset_md / 2);
$offset_lg_one_side: ($offset_lg / 2);

$fields: 15px;
